<section class="movie-list-body">
    <div class="list-header">
        <h1 class="header">Top Rated Movies</h1>
        <p class="byline">Top 100 as rated by IMDb Users</p>
    </div>

    <!-- Search Box -->
    <div class="search-box">
        <input type="text" ng-model="searchMovie.Title" placeholder="Type Movie Name">
    </div>
    <div ng-show="!($ctrl.movieItems | filter:searchMovie).length">
        <p class="not-found">No movie found. Please check your spelling.</p>
    </div>

    <div layout="row" layout-align="space-between start" ng-hide="!($ctrl.movieItems | filter:searchMovie).length">
        <div>
            <p>Showing 100 Titles</p>
        </div>
        <div>
            <label>Sort By:</label>
            <select ng-model="$ctrl.shortColumn">
                <option value="" selected disabled hidden>Select Anything</option>
                <option value="-imdbRating">Ranking</option>
                <option value="Title">Ascending Order</option>
                <option value="-Title">Descending Order</option>
            </select>
        </div>
    </div>


    <!-- Movie List -->
    <div class="list-body">
        <table>
            <thead>
                <tr ng-hide="!($ctrl.movieItemList | filter:searchMovie).length">
                    <th width="6%"></th>
                    <th width="60%">Rank &amp; Title</th>
                    <th width="20%">IMDb Rating</th>
                </tr>
            </thead>

            <tbody>
                <tr dir-paginate="movie in $ctrl.movieItems | filter:searchMovie | orderBy: $ctrl.shortColumn | itemsPerPage: $ctrl.pageSize track by $index"
                    current-page="$ctrl.currentPage">
                    <td class="posterColumn">
                        <img ng-click="$ctrl.movieDetails(movie.imdbID)" ng-src="{{movie.Poster}}" alt="{{movie.Title}}" title="{{movie.Title}}">
                    </td>
                    <td class="titleColumn">{{movie.ranking}}.
                        <span ng-click="$ctrl.movieDetails(movie.imdbID)" title="{{movie.Title}}">{{movie.Title}} ({{movie.Year}})</span>
                    </td>
                    <td class="ratingColumn">{{movie.imdbRating}}</td>
                </tr>
            </tbody>
        </table>
    </div>

    <!-- PAgination -->
    <div class="paging">
        <dir-pagination-controls boundary-links="true" on-page-change="pageChangeHandler(newPageNumber)"></dir-pagination-controls>
    </div>
</section>