<section class="movie-list-body">
    <div class="list-header">
        <h1 class="header">Top Rated Movies</h1>
        <p class="byline">Top 100 as rated by IMDb Users</p>
        <hr>
    </div>

    <div class="list-body">
        <table>
            <thead>
                <tr>
                    <th width="6%"></th>
                    <th width="60%">Rank &amp; Title</th>
                    <th width="20%">IMDb Rating</th>
                </tr>
            </thead>

            <tbody>
                <tr ng-repeat="movie in $ctrl.movieItems">
                    <td class="posterColumn">
                        <img ng-click="$ctrl.movieDetails(movie.imdbID)" ng-src="{{movie.Poster}}" alt="{{movie.Title}}" title="{{movie.Title}}">
                    </td>
                    <td class="titleColumn">{{$index + 1}}.
                        <span ng-click="$ctrl.movieDetails(movie.imdbID)"  title="{{movie.Title}}">{{movie.Title}} ({{movie.Year}})</span>
                    </td>
                    <td class="ratingColumn">{{movie.imdbRating}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</section>