@import '../partial/variables';

.movie-list-body {
    background: $gray-lighten2;
    padding: 24px;
    .list-header {
        text-align: center;
        .header {
            margin-bottom: 2px;
            font-size: 27px;
            font-weight: normal;
        }
        .byline {
            font-size: 11px;
            color: $gray-dark2;
            margin: 3px 0 10px;
            font-family: Verdana, Arial, sans-serif;
            font-weight: normal;
        }
    }

    .list-body {
        table {
            border-collapse: collapse;
            width: 100%;
            thead {
                th {
                    color: $gray-dark2;
                    font-size: 15px;
                    text-align: left;
                    vertical-align: bottom;
                    padding-bottom: 6px;
                }
            }

            tbody {
                .posterColumn {
                    img {
                        width: 45px;
                        height: 67px;
                        &:hover {
                            cursor: pointer;
                        }
                    }
                }
                .titleColumn {
                    font-size: 15px;
                    font-weight: 500;
                    span {
                        &:hover {
                            text-decoration: underline;
                            cursor: pointer;
                        }
                    }
                }
                .ratingColumn  {
                    font-weight: bold;
                    font-size: 15px;
                }
                tr {
                    &:nth-child(odd) {
                        background-color: $gray-lighten3;
                    }
                }
            }
        }
    }
}